:root {
  --black: #444;
}

#container {
  margin: 4rem auto;
}

#board {
  width: 320px;
  display: grid;
  grid-gap: 10px;
  margin: 0px auto;
  background: var(--black);
  text-transform: uppercase;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: var(--black);
  background: #fff;
  font: 44pt sans-serif;
}

.square:focus,
.square:hover,
.square:active {
  border: none;
  outline: none;
}

#info {
  font-size: 44pt;
  margin-top: 3rem;
  text-align: center;
  font-family: sans-serif;
}

#restart,
#restart:focus {
  outline: 0;
  padding: 1rem;
  display: block;
  font-size: 22pt;
  cursor: pointer;
  margin: 2rem auto;
  background: #fff;
  color: var(--black);
  border: 2px solid var(--black);
}

#restart:hover,
#restart:active {
  outline: 0;
  color: #fff;
  background: var(--black);
}
